@font-face {
  font-family: 'OdinFont';
  src: url('Images/Norse-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.mainContainer {
    display: flex;
    height: 100%;
    width: 100%;
}

.leftContainer {
    background-image: url('./Images/halie-west-25xggax4bSA-unsplash.jpg');
    background-size: cover;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rightContainer {
    display: flex;
    width: 65%;
    flex-direction: column;
    justify-content: space-around;
    background-color: whitesmoke;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 150px;
}

.banner img {
    height: 100px;
    margin-right: 10px;
}

.banner h2 {
    font-size: 3rem;
    font-family: 'OdinFont', sans-serif;
}

.footer {
    position: absolute;
    bottom: 5px;
    color: white;
    font-size: 0.8rem;
}

.footer a:link {
    color: white;
}

.rightContainer h1 {
    font-family: 'OdinFont', sans-serif;
    font-size: 3rem;
    margin: 0;
}

.topHeader {
    font-family:'Times New Roman', Times, serif;
}

.middle {
    background-color: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

form {
    display: grid;
    grid-template-columns: .4fr .4fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px 0PX;
}

form .group {
    display: flex;
    flex-direction: column;
    width: 250PX;
}

.topHeader, .middle, .bottom {
    padding: 3vh;
}

.rightContainer button {
    width: 150px;
    height: 40px;
    color: white;
    background-color: #596D48;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.rightContainer button:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.rightContainer .bottom a {
    color: #596D48;
}